body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* Light text */
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

.container {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  background-color: #333; /* Dark container background */
}

.input-container {
  display: flex;
  margin-bottom: 30px;
}

.input-box {
  all: unset;
  height: 40px;
  flex: 1;
  padding: 8px;
  border-radius: 3px 0 0 3px;
  font-size: 25px;
  background-color: #e3e3e3; /* Dark input background */
  color: #2d2d2d; /* Light text */
}

.button {
  width: 20%;
  padding: 8px 15px;
  border: none;
  background-color: #008cba;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.task-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #444; /* Dark task background */
}

.list-container{
  padding-left: 0px;
  text-align: justify;
  margin-bottom: 0px;
}

.list-container li {
  list-style-type: none;
  font-size: 17px;
  margin: 0;
  width: 80%;
  overflow-x: hidden;
}

.button-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-div button.edit {
  background-color: #ffc107;
}

.button-div button.check {
  background-color: #008cba;
}

.button-div button.delete {
  background-color: #f44336;
}

.button-div button {
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.button-div button:hover {
  opacity: 0.6;
}

.button:hover {
  opacity: 0.8;
}

.checked {
  margin-right: 5px;
}

.edit-input {
  all: unset;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 17px;
  padding: 12px 8px;
  color: #fff; /* Light text */
}

.check {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #e2e2e2;
}

.delete {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%; /* Adjust container width for smaller screens */
    padding: 20px;
  }

  .wrapper{
    padding: 10px;
  }

  .input-box {
    font-size: 20px; /* Adjust input font size for smaller screens */
  }

  .button {
    width: auto; /* Allow buttons to adjust width for smaller screens */
  }

  .list-container li {
    width: 100%; /* Adjust task list item width for smaller screens */
  }

  .task-div{
    gap: 10px;
  }
  .input-container {
    width: 100%;
  }
  .button{
    width: 30%;
    padding: 5px 10px;
  }
}